<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Jesus Christ and Super Pals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- LOAD CSS FILES -->
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-179677314-1');
    </script>

</head>

<body>
	<div id="preloader"></div>
    <div id="wrapper">
        <!-- header begin -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <!-- logo begin -->
                        <div id="logo">
                            <div class="inner">
                                <a href="index.html">
                                    <img src="img/logo.png" style="width: 50px;" alt="" class="logo-1">
                                    <img src="img/logo.png" style="width: 50px;" alt="" class="logo-2">

                                </a>

                            </div>
                        </div>
                        <!-- logo close -->
                    </div>

                    <div class="col-md-9">
                        <!-- mainmenu begin -->
                        <div id="mainmenu-container">
                            <ul id="mainmenu">
                                <li><a href="index.html">Home</a>
                                </li>
                                <li><a href="syllabus.html">Syllabus</a>
                                </li>
                               <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                       <!-- mainmenu close -->
                    </div>

                </div>
            </div>

        </header>
        <!-- header close -->

        <!-- subheader begin -->
        <section id="subheader" data-speed="2" data-type="background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Sorry! The Camp is Full =(</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->


        <!-- content begin -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                       <div id="contact-form-wrapper">
                         <img src="/img/sorry.jpg" alt="porcupin" style="width: 100%;"></a> 
                       </div>
                    </div>

                    <div class="col-md-6 text-center">
                        <div class="contact-info">
                            <div class="social-icons">
                                <a href="https://www.facebook.com/Jesus-Christ-and-Super-Pals-100805645147311/?modal=admin_todo_tour"><i class="fa fa-facebook"></i></a>
                            </div>
                            <div class="divider-line"></div>

                            <span class="title">Telephone:</span>
                            805.295.9206
						
						<div class="divider-line"></div>

                            <span class="title">Camp Time:</span>
                            Customized for your child<br>
                            All sessions are held online in one on one sessions.
                            <div class="divider-line"></div>

                            <span class="title">Address:</span>
                            11301 Paso Robles, Granada Hills, CA. 91344 USA
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content close -->

        <!-- footer begin -->
        <footer>


            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        &copy; Copyiright 2020 - Jesus Christ and Super Pals 
                    </div>
                    <div class="col-md-6">
                        <nav>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="syllabus.html">Syllabus</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </footer>
        <!-- footer close -->
    </div>

    <!-- LOAD JS FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/easing.js"></script>
    <script src="js/jquery.ui.totop.js"></script>
    <script src="js/selectnav.js"></script>
    <script src="js/ender.js"></script>
    <script src="js/responsiveslides.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/jquery.fitvids.js"></script>
    <script src="js/jquery.plugin.js"></script>
    <script src="js/jquery.countdown.js"></script>
    <script src="js/countdown-custom.js"></script>
    <script src="js/contact.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="js/map.js"></script>
    <script src="js/wow.min.js"></script>	
    <script src="js/custom.js"></script>

    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

</body>
</html>
